img {
    width:300px;
}

.item-container {
    width: 80%;
    height: auto;
    border: 3px solid var(--lightColor);
    background-color: var(--lightColor);
    color: var(--darkColor);
    margin: 10px;
}